@use "sass:math";

#bubbles-background {
  display: contents;

  .bubble {
    --left: -5%;
    --z-depth: 1;
    --z-scale: 1;
    --start-y: 1000px;
    --duration: 25s;
    --wobble-scale: 1;
    --wobble-duration: 2s;

    position: fixed;
    animation:
      animateBubble var(--duration) linear 1 normal forwards,
      sideWays var(--wobble-duration) ease-in-out infinite alternate;
    left: var(--left);
    top: 0%;

    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: calc(0.75 - 0.35 * var(--z-scale));

    position: absolute;
    width: 2em;
    height: 2em;
    font-size: 6em;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateZ(calc(var(--z-depth) * 1px)) translateX(calc(-50%));
    transform-style: flat;

    transition: opacity 0.15s ease-in-out;

    &.popped {
      opacity: 0;
    }
  }

  opacity: 1;
  transition: opacity 0.25s ease-in-out;

  &.disabled {
    opacity: 0;
  }

  @media (prefers-reduced-motion: reduce) {
    display: none;
  }

  @keyframes animateBubble {
    0% {
      margin-top: var(--start-y);
    }
    100% {
      margin-top: calc(-100vh + (-4em * var(--z-scale)));
    }
  }

  @keyframes sideWays {
    0% {
      margin-left: 0px;
    }
    100% {
      margin-left: calc(var(--wobble-scale) * 50px);
    }
  }
}
