#loading-page {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 1em;

  p {
    --pulsating-opacity: 0.5;

    margin-bottom: 0;
    animation: pulsating 1.5s infinite var(--animation-sine);
    font-weight: 500;

    a {
      color: inherit;
    }
  }

  .spinner {
    --speed: 1.5s;
    --size: 5em;
    --size-border: 0.75em;
    --spinner-back-color: var(--pico-color-fuchsia-100);
    --spinner-fore-color: var(--pico-color-fuchsia-400);

    display: inline-block;
    margin: var(--universal-margin);
    border: var(--size-border) solid var(--spinner-back-color);
    border-left: var(--size-border) solid var(--spinner-fore-color);
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    animation: spinner-donut-anim var(--speed) linear infinite;
  }

  @keyframes spinner-donut-anim {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes pulsating {
    0% {
      opacity: 1;
    }
    50% {
      opacity: var(--pulsating-opacity, 0.85);
    }
    100% {
      opacity: 1;
    }
  }
}
